@import "tailwindcss";

@theme {
  /* Cute Font */
  --font-cute: "Comic Sans MS", "Chalkboard SE", "sans-serif"; 

  /* The "Her" Palette */
  --color-love-50: #f0f9ff;
  --color-love-100: #e0f2fe;
  --color-love-200: #bae6fd;
  --color-love-300: #7dd3fc;
  --color-love-400: #38bdf8;
  --color-love-500: #0ea5e9;
  --color-love-600: #0284c7;
  
  --color-heart: #ec4899; /* Pink for hearts */
}

/* Smooth scrolling for the whole site */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-love-50);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}